#nav{
   display: flex;
}
#top{
    display: flex;
height: 100px;
background-color:rgba(255, 0, 0, 0.836);
width:auto;

}

#top>div:nth-child(1){
    margin-top: 55px;
width:30%;
border: 1px solid black;
}
#top>div:nth-child(2){
    margin-top: 55px;
    width:40% ;
    border: 1px solid black;
    margin-left: 30px;
    
}
#top>div>div:nth-child(1){
    margin-left: 300px;
    width:40%; ;   
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100px 150px 80px;
    
    color: white;
    font-size: larger;
    margin-top: 5px;
    

}
#top>div>div:nth-child(2){
    margin-left: 300px;
    width:30%; ;   
    border: 1px solid black;
    display: grid;
    grid-template-columns:200px 50px 80px;
    color: white;
    font-size: larger;
    gap:5px;
    margin-top: 45px;

}


.search{
width:100% ;
height: 30px; 
border-radius:  15px; ;

}
#mob{
    display: flex;
    background-color: red;
    height: 40px;
    color: white;
    position: fixed;
   
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

nav{
  position: absolute;
  z-index: 99;
  width: 100%;
  
  background: blue;
}
nav .wrapper{
  position: relative;
  max-width: 90%;
  
  height: 70px;
 
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: blue;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  transition: all 0.3s ease;
 
}
.nav-links li a:hover{
  background: red;
}
.nav-links .mobile-item{
  display: none;
}


.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: blue;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color:white;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}


#d{
  width:100% ;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin:auto ;
}


/* Next & previous buttons */
.prev, .next {
  /* cursor: pointer; */
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  
  color:red;
  font-weight: bold;
  font-size: 18px;
  /* transition: 0.6s ease; */
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
/* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
} */

/* @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} */

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
} */
#cont {
  max-width: 100%;
  position:relative;
  
  

}

#container{
 position: relative;
 overflow: hidden;
 height: auto;
 display: flex;
 
}

#container>div {
 width:25%;
}
#container>div h1{
  font-size: 20px;
  color: red
}
#container>div h1:hover{
  font-size: smaller;
  color:blue;
  font-size: 20px;
}
#container>div p{
  font-size: smaller;
  color:grey;
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 2px;


}

#h p{
  color: blue;
  margin-bottom: 20px;
  

}
#h{
  display: flex;
  height: 70px;
  align-items: center;
}
.nex,.pre{
  cursor: pointer;
  position: absolute;

  
  width: auto;
  padding: 16px;
  top: 50%;
  width: auto;
  
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.pre{
  left: 0;
  
  

}
.nex{
left: 96%;
  border-radius: 3px 0 0 3px;
}
  
.pre:hover, .nex:hover {
  background-color: rgba(0,0,0,0.8);
}


#contt{
  max-width: 100%;
  position:relative;
  margin:auto ;
}

#tv{
  position:relative;
  overflow: hidden;
  height: auto;
  display: flex;
  
 }

#tv>div h1{
  font-size: 20px;
  color: red
}
#tv>div h1:hover{
  font-size: smaller;
  color:blue;
  font-size: 20px;
}
#tv>div p{
  font-size: smaller;
  color:grey;
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 2px;


}



  #dis1{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
  }
  #dis2{
    margin-top: 3%;
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
  }
  #las{
    max-width: 100%;
    position:relative;
   
  
  }
  #last{
    
    
    overflow: hidden;
    height: auto;
    display: flex;
   
    
  }

#last>div{
  font-size: small;
    margin-top: 3%;
    margin-left: 50px; 
    color: grey;
    
  }
  #last>div h1{
    font-size: large;
      margin: aut;
      color: grey;
      
    }
  #las h1{
    text-align: center;
  }
  #btn{
 margin-left: 700px;
 padding: .6%;
 border-radius:25px ;
 width: 100px;
 background-color: blue;
 color: white;
 border-color:transparent;
 font-size: medium;
 margin-bottom: 10px;
}
#happy{
  display: flex;
  height: auto;
  width: 100%;
  margin-left: 2px ;
  margin-right:2px ;
  background-color: rgba(0, 0, 139, 0.856);
  color:white;
  margin-bottom: 0px;
}
#happy>div{
  margin-left: 10%;
}
#moreh{
  background-color:darkblue ;
  height: 300px;
  width: 100%;
  margin-top: 0px;
  position: relative;
}
#moreh>div {
  text-align: center;
  color:white;
  margin-top:10px; 
}